@font-face {
  font-family: Kamikaze-Italic;
  src: url(../fonts/kamikaze/Kamikaze-Italic.ttf);
}

:root {
  --ceremonial: #77d353;
  --white: whitesmoke;
  --black: #0A0A0A;
  --ligth-black: #282828;
  --grey: #c3c3c3;
  --light-grey: #eee;
  --dark-grey: #4C4C4C;
  --blue: #00a6ff;
  --font-primary: 'Montserrat', sans-serif;
  --font-logo: 'Kamikaze-Italic', serif;
  --font-size-text: 16px;
  --font-size-title: 38px;
  --font-size-subtitle: 18px;
  --border-radius: 4px;
  --page-gap: 20px;
  --navbar-height: 88px;
  --line-height-text: 20px;
}

html, body {
  font-size: var(--font-size-text);
  background-color: var(--white);
  font-family: var(--font-primary);
  color: var(--black);
  letter-spacing: normal;
  font-weight: normal;
}

@media print {
  .list-title {
    padding-right: 0;
  }

  .navbar-issue-description {
    margin-right: 0;
  }
}

.row .column {
  padding: 0 0.5rem;
}

.column-minimum-height {
  min-height: 12rem;
}

.container {
  padding: 0 var(--page-gap);
}

.row {
  margin-left: calc(var(--page-gap) / 2 * -1);
  width: calc(100% + var(--page-gap));
}

.title {
  font-family: var(--font-primary);
  font-size: var(--font-size-title);
  font-weight: bold;
  margin-bottom: 5px;
}

.subtitle {
  font-family: var(--font-primary);
  font-size: var(--font-size-subtitle);
  line-height: 23px;
  font-weight: normal;
}

blockquote, dl, figure, form, ol, p, pre, table, ul {
  margin-bottom: 1rem;
}

input, textarea, p, li, .text {
  font-family: var(--font-primary);
  font-size: var(--font-size-text);
  font-weight: normal;
  line-height: var(--line-height-text);
}

input,
input:focus,
textarea,
textarea:focus {
  background-color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid var(--light-grey);
  resize: none;
}

form {
  margin-bottom: 0;
}

.textarea {
  padding: 0;
  height: auto;
  line-height: 20px;
  padding: .5rem;
  overflow: auto;
  resize: none;
  min-height: auto;
  margin: .5rem 0;
}

.textarea.dark {
  color: var(--white);
  border-color: var(--dark-grey);
  background-color: var(--dark-grey);
}

.text-ceremonial {
  color: var(--ceremonial);
  margin: 10px;
}

.modal-container {
  margin-top: 35px;
}

.landing-description {
  margin-bottom: 64px;
}

.improvement-textarea {
  margin-bottom: 0px;
  margin-top: 5px;
}

.improvement-cancel {
  background-color: transparent !important;
  border: 0px !important;
  color: #a3a3a3 !important;
}

.improvement-add {
  border: 0px !important;
  background: #a3a3a3 !important;
}

.cancel {
  background-color: red !important;
  border: 0px !important;
}

.text-border {
  box-shadow: 0 0 1px #000000;
}

.column-inner {
  border-radius: var(--border-radius);
  margin-bottom: 20px;
  padding: .5rem;
}

.analyses-column {
  background-color: var(--light-grey);
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 26px;
}

.list-title {
  font-family: var(--font-primary);
  font-weight: bold;
  line-height: var(--line-height-text);
  padding-right: 5px;
}

.list-item {
  display: flex;
  align-content: center;
  justify-content: space-between;
  line-height: var(--line-height-text);
}

.list-item .icon {
  padding: 4px;
  margin-right: 5px;
}

.list-item span {
  width: 100%;
  display: flex;
  align-items: center;
}

.list-item button {
  visibility: hidden;
  padding: 4px;
}

.list-item:hover button {
  visibility: visible;
}

.justify-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.navbar {
  position: absolute;
  z-index: 1;
  width: 100%;
  background: var(--black);
  height: var(--navbar-height);
  padding: 15px var(--page-gap);
  padding-right: 0;
  top: 0;
}

#main-content {
  /* padding: 20px 3.5rem !important; */
  margin-top: calc(var(--navbar-height) + 10px);
  max-width: 100%;
  padding-bottom: 30px;
}

.row-timebox-options {
  position: relative;
  margin-bottom: 6px;
}

.button-more-timebox-options {
  position: absolute;
  background: none;
  border: none;
  display: inline;
  padding: 0;
  margin-left: 12px;
  line-height: 50%;
  color: rgba(255, 255, 255, 0.2);
}

.button-more-timebox-options:hover {
  position: absolute;
  background: none;
  color: var(--white);
}

.button-timebox-option {
  background: none;
  border: none;
  padding: 0;
  margin: 0 12px 18px;
  display: inline;
}

.button-timebox-option:hover {
  background: none;
}

.button-timebox-option svg {
  vertical-align: middle;
}

.button-timebox-option:hover svg {
  fill: var(--ceremonial);
}

.timebox-option {
  font-family: "Kamikaze-Italic";
  font-size: 43px;
  font-weight: normal;
}

/* Logo styles */
.logo {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

}

.logo-wrapper {
  position: relative;
  width: 100%;
}

.logo-loader {
  position: relative;
  width: 100%;
}

@keyframes load {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.end-time {
  font-family: "Kamikaze-Italic";
  font-size: 31px;
  font-weight: normal;
  animation-name: end-time-animation;
  animation-fill-mode: forwards;
  animation-iteration-count: 12;
  animation-timing-function: linear;
  animation-duration: 0.5s;
}

@keyframes end-time-animation {
  0% {
    fill-opacity: 1;
  }
  50% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
  }
}
/* end Logo styles */

.modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.modal-content {
  border: 1px solid #ffffff;
  padding: 10px;
  box-shadow: 2px 2px;
  border-radius: 10px;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  width: 700px;
}

.modal-footer {
  margin-top: 100px;;
}

.rekaizen-modal {
  background-color: rgb(0, 0, 0);
}

.rekaizen-modal .modal-content {
  background-color: #000;
  color: var(--white);
  box-shadow: none;
  border: none;
  text-align: center;
  width: auto;
  margin: 8em auto 8rem;
  font-weight: lighter;
  font-size: 19px;
  overflow: hidden;
  max-width: 800px;
  /* margin: auto; */
  padding: 1rem;
}
.rekaizen-modal .modal-content h5 {
  color: var(--white);
  text-align: center;
  text-transform: capitalize;
  font-size: 3rem;
}

.rekaizen-modal .modal-content .card-block {
  margin-top: 4rem;
  max-width: 85rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

.rekaizen-list {
  margin: 1rem 0;
}

.rekaizen-list .list-item {
  list-style-type: none;
  margin: 5px 0px;
  padding: 5px 5px 5px 10px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 3px;
}

.rekaizen-list.bordered .list-item {
  border-color: var(--grey);
}

.description-issue {
  max-width: 500px;
  margin: auto;
  position: relative;
}

.description-issue .description-issue-input {
  width: 100%;
  background-color: #212121;
  border: none;
  color: var(--white);
  height: 44px;
  margin: 0;
  padding-right: 44px;
}

.description-issue .description-issue-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grey);
  margin-bottom: 0;
  margin-left: 5px;
  height: 44px;
  width: 44px;
  background: transparent;
  border: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.description-issue .description-issue-button:hover,
.description-issue .description-issue-button:focus {
  background: transparent;
  border: none;
}

.description-issue .description-issue-button:disabled {
  cursor: not-allowed;
}

.create-issue .modal-content {
  padding-left: 0;
  padding-right: 0;
}

/* Slider */
.slider {
  position: relative;
  margin: 0 auto;
  /* height: 500px; */
  overflow: hidden;
  white-space: nowrap;
  display: flex;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}
/* End slider */

.notification {
  position: absolute;
  bottom: 5px;
  right: 30px;
  color: var(--ceremonial);
}

.navbar-actions {
  position: absolute;
  top: 10px;
  right: var(--page-gap);
  z-index: 1;
}

.navbar-issue-description {
  color: var(--white);
  font-size: var(--font-size-text);
  margin-right: 25px;
}

.issue-confirm-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.issue-confirm-title h2 {
  margin: 0;
}

.issue-confirm-title > div {
  margin: 5px;
}

.issue-confirm-title svg {
  vertical-align: middle;
}

.modal-column-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.modal-column {
  min-height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: var(--black);
  border-radius: 10px;
  margin: 0 .5rem;
  margin-bottom: 2rem;
  padding: 2rem 1rem;
}

.modal-column .button.close {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  color: var(--grey);
  padding: 0.5rem;
}
.modal-column .button.close:hover {
  color: var(--grey);
}

.modal-column .text {
  margin: 0  0 10px 0;
}

.modal-column .subtitle {
  margin-bottom: 1.0rem;
}

.modal-column .textarea {
  margin-bottom: 3rem;
}

.background-highlight{
  position: relative;
  z-index: 3;
}

.background-cover {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.report {
  text-align: left;
  margin: auto;
  width: 500px;
}

.report li {
  margin-bottom: .5rem;
}

.report-list-title {
  margin-bottom: .5rem;
}

.report-for-print {
  display: none;
  max-width: 600px;
  margin: auto;
  padding: 2rem 0;
}

@media print {
  .report-for-print {
    display: block !important;
  }
}
